.env
.DS_Store
.vscode/*
!.vscode/extensions.json
.byebug_history

**/Debug/**
**/project-cache/**
**/.vs/**
**/obj/**

# js files
*.js

# Dependencies
node_modules
package-lock.json
yarn.lock
!/yarn.lock
composer.lock

# Typescript
dist

# React
build

# act
.secrets